@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  color: #22d3ee;
  margin: 32px 16px 8px 16px;
  animation-name: slide;
  animation-duration: 800ms;
}

h3 {
  color: #333;
  font-size: 16px;
  margin: 4px;
  animation-name: slide;
  animation-duration: 800ms;
}

p {
  color: #666;
  margin: 20px;
  animation-name: slide;
  animation-duration: 800ms;
}

span {
  color: #666;
  font-size: 14px;
  animation-name: slide;
  animation-duration: 800ms;
}

img {
  animation-name: slide;
  animation-duration: 400ms;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
