.menu {
  translate: -500px;
  position: fixed;
}
.menu-active {
  position: fixed;
  background-color: white;
  color: #666;
  width: 100vw;
  height: 100vh;
  padding-left: 24px;
  transition: 300ms;
}

.menu-active ul li {
  padding: 8px;
  font-size: 1.25rem;
}

.hamburger {
  color: #22d3ee;
  z-index: 10;
}
