.menu {
  translate: -500px;
  position: fixed;

  animation-name: slide;
  animation-duration: 500ms;
}
.menu-active {
  position: fixed;
  background-color: white;
  color: #666;
  width: 100vw;
  height: 100vh;
  padding-left: 24px;
  transition: 250ms;

  animation-name: slide;
  animation-duration: 500ms;
}

.menu-active ul li {
  padding: 8px;
  font-size: 1.25rem;

  animation-name: slide;
  animation-duration: 500ms;
}

.hamburger {
  color: #22d3ee;
  z-index: 10;

  animation-name: slide;
  animation-duration: 500ms;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
